@import "../../styles/variables.css";

.sidebar {
  width: var(--sidebar-width);
  /*  height: 100vh;  */
  height: -webkit-fill-available;
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition:
    transform 0.2s ease,
    width 0.2s ease;
  overflow: hidden;
  transform: translateX(0);
  /*  background: linear-gradient(90deg, #1a2028 0%, #252b44 25%, #36405c 100%); */
}

.menu-scroll-container {
  height: calc(100% - var(--header-height));
  overflow-y: auto;
  padding-bottom: 20px;
}

.sidebar.collapsed {
  transform: translateX(calc(var(--sidebar-width) * -1));
}

.sidebar-menu {
  list-style: none;
  padding: 0 0;
}

li.menu-item.communication .MsgNummail {
  position: absolute;
  right: 25px;
  background-color: #4172b7;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: var(--font-sm);
  border-radius: 24px;
}

li.menu-item.communication {
  position: relative;
}
li.menu-item.communication .MsgNumchat {
  position: absolute;
  right: 25px;
  background-color: #43a560;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: var(--font-sm);
  border-radius: 24px;
}

.sidebar .logo {
  padding: 1px 8px;
  text-align: center;
  background: #fff;
  min-height: 59px;
  max-height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
  width: 100%;
}
.sidebar .logo img {
  width: 90px;
  transition: width 0.3s ease;
}

.menu-scroll-container::-webkit-scrollbar {
  width: 8px;
}
.menu-scroll-container::-webkit-scrollbar-thumb {
  background-color: #495057;
  border-radius: var(--radius-sm);
}
.menu-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #6c757d;
}
.menu-scroll-container::-webkit-scrollbar-track {
  background: #2a3444;
}

.menu-title {
  color: #798298;
  font-size: var(--font-sm);
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 10px;
  border-bottom: 1px solid #334056;
}

.menu-item div {
  display: flex;
  align-items: center;
  padding: 18px 12px;
  text-decoration: none;
  color: var(--sidebar-text);
  transition: all 0.2s ease;
  font-size: var(--font-sm);
  cursor: pointer;
}
.menu-section-title .moduletoggle {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}
.menu-section-title .moduletoggle .modulename {
  color: #fff;
  font-size: var(--font-sm);
  line-height: 22px;
  font-weight: 600;
  margin-top: 6px;
}
.menu-section-title .moduletoggle .modulename span {
  color: #4b84d7;
}

.menu-item div:hover {
  color: #fff;
}
.menu-item div:hover i {
  transform: translateX(-3px);
}

.menu-item i {
  margin-right: 10px;
  font-size: var(--font-md);
  width: 20px;
  text-align: center;
  transition: all 0.2s ease;
}

.menu-item.active > div {
  /*  background-color: var(--active-bg); */
  background: linear-gradient(267deg, #457cd5, #2e466e);
  color: white;
  border-left: 3px solid var(--primary-color);
  padding-left: 10px;
  box-shadow:
    rgb(25 25 32 / 34%) 1px 4px 11px 3px,
    rgba(0, 0, 0, 0.3) 0px 2px 11px -8px;
}

.submenu .menu-item.active div {
  /*  background-color: var(--active-bg); */
  background: linear-gradient(267deg, #3b6cbb, #2e466e);
  color: #fff;
}

.dropdown-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.submenu {
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #1a202a;
  padding: 0;
}

.submenu li div {
  /*  padding-left: 50px;  */
  font-size: var(--font-sm);
}

.menu-item.dropdown.open > div .dropdown-icon {
  transform: rotate(90deg);
}

.menu-item.dropdown.open .submenu {
  max-height: fit-content;
  padding: 10px 0;
  transition: all 0.2s ease;
}
.menu-item.dropdown .submenu li {
  margin-left: 20px;
}
.menu-item.dropdown .submenu li div {
  padding: 15px 20px;
  position: relative;
}

.main-content.sidebar-open {
  margin-left: var(--sidebar-width);
}
.main-content.sidebar-closed {
  margin-left: 0;
}

@media (max-width: 991px) {
  .sidebar {
    transform: translateX(calc(var(--sidebar-width) * -1));
    z-index: 99999;
  }

  .sidebar:not(.collapsed) {
    transform: translateX(0);
    height: 100%;
  } 

}
