@import "../../../styles/variables.css";

.notearea {
  padding: 10px;
  border-left: 3px solid;
}

.note {
  font-size: 12px;
  color: #5e5e5e;
  line-height: 1.5;
}

/* =========================
   Info
========================= */

.notearea.info {
  background-color: var(--status-pending-light);
  border-left-color: var(--status-pending);
}

/* =========================
   Success
========================= */

.notearea.success {
  background-color: var(--status-active-light);
  border-left-color: var(--status-active);
}

/* =========================
   Warning
========================= */

.notearea.warning {
  background-color: var(--status-inactive-light);
  border-left-color: var(--status-inactive);
}

/* =========================
   Danger
========================= */

.notearea.danger {
  background-color: var(--status-deleted-light);
  border-left-color: var(--status-deleted);
}