@import "../../styles/variables.css";

.profile-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-info img {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  object-fit: cover;
  border: 1px solid #ddd;
}
.profile-info .userareadetails .username {
  font-size: var(--font-md);
  font-weight: 500;
}
.profile-info .userareadetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.profile-info .userareadetails .userposition {
  font-size: var(--font-xs);
  color: #7e7e7e;
  font-weight: 500;
}

.profile-dropdown-container {
  position: relative;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: var(--header-height);
  right: 0;
  width: 250px;
  background-color: #fff;
  border-radius: var(--radius-md);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1050;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease,
    visibility 0.2s;
}

.profile-dropdown.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 10px;
}

.dropdown-header .user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.dropdown-info strong {
  display: block;
  color: var(--text-color);
  font-size: var(--font-md);
}

.dropdown-info small {
  color: #6c757d;
  font-size: var(--font-xs);
}

.profile-dropdown ul {
  list-style: none;
  padding: 0;
}

.profile-dropdown ul li a,
.profile-dropdown ul li div {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-xs);
}

.profile-dropdown ul li a i,
.profile-dropdown ul li div i {
  margin-right: 10px;
  width: 20px;
  text-align: center;
  font-size: var(--font-md);
  color: #6c757d;
}

.profile-dropdown ul li a:hover,
.profile-dropdown ul li div:hover {
  background-color: var(--bg-color);
}

.dropdown-group-title {
  padding: 10px 15px 5px;
  font-size: var(--font-xs);
  text-transform: uppercase;
  color: #adb5bd;
  margin-top: 5px;
}

.profile-dropdown .logout-item div {
  color: #e3342f;
}
.profile-dropdown .logout-item div i {
  color: #e3342f;
}
